
.navbar-box{
    width: 100%;
    height: 70px;
    padding: 0 15px;
    background-color: #fff!important;
    color: #000000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    box-shadow:0 2px 2px grey;
}
.logo-box img{
    width: 120px;
    height: 35px;
    padding: 4px;
}
.search-box{
    margin-left: 55px;
}
.search-box .input-group {
    width: 100%;
    max-width: 500px ;
    border-radius: 30px;
    background: rgb(243, 240, 240);
    margin: auto;
    padding: 3px;
    
  }

  .search-box .form-control {
    border: 0 !important;
    border-radius: 30px !important;
    box-shadow: none !important;
    margin: 2px;
    background: rgb(243, 240, 240);
  }

  .search-box .input-group-text {
    width: auto;
    background: #000000;
    border: 0 !important;
    color: #fff;
    border-radius: 30px !important;
    box-shadow: none !important;
    padding: 0 25px !important;
    margin: 2px;
  }

  @media (max-width:870px) and (min-width: 750px) {
    .search-box .input-group {
      margin-left: -50px;
    }

  }
  .fa-bars{
      font-size: 25px;
      font-weight: 600;
      margin: 10px;
      cursor: pointer;
  }
  .fa-times{
    font-size: 25px;
    
   
    cursor: pointer;
    color: #fff;
  }
.sidebar{
    width: 250px;
    height: 100vh;
    background-color: rgb(226, 223, 223);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99999;
 
}
.top-box{
    width: 100%;
    height: 70px;
    background-color: rgb(22, 2, 2);
    justify-content: space-around;
    display: flex;
    align-items: center;

}
.top-box img{
    width: 50px;
}
.tab{
    display: flex;
   justify-content: center;
  
   padding:15px 5px;
   box-shadow:0 1px 1px rgb(19, 18, 18);

}
.tab .fa{
    padding-right: 15px;
}
.tab h5{
    font-weight: 600;
}
.alltab .fa{
    font-size: 25px;

}
.alltab a{
    color: black !important;
}
.alltab a:hover{
    text-decoration: none;
    color: black !important;
}
.tab:hover{
    background-color: rgb(252, 248, 248);
}